$color: #fff;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  background-color: #333;
  color: #fff;
}

.card {
  padding: 10px;
}

.card-primary {
  background-color: #00796b;
  color: $color;
}

.card-success {
  background-color: #5c6bc0;
  color: $color;
}

.card-danger {
  background-color: #7c4dff;
  color: $color;
}
